.login-card {
    background: white;
    padding: 30px;
    width: 520px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgb(0,  0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.login-card h2 {
    margin-bottom: 10px;
}

.login-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid#ccc;
    font-size: 14px;
}

.login-card input:focus {
    border-color: #323236;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 10px;
    background-color: #0757b3;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.2s;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #8b8989;
}
