
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font & background */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  outline:auto;
}
